[submodule "mobs_nssm"]
	path = mobs_nssm
	url = https://github.com/misterskullz/mobs_nssm.git
[submodule "hud_hunger"]
	path = hud_hunger
	url = https://github.com/misterskullz/hud_hunger.git
[submodule "season"]
	path = season
	url = https://github.com/misterskullz/season.git
[submodule "bags"]
	path = bags
	url = https://github.com/misterskullz/bags.git
[submodule "simple_skins"]
	path = simple_skins
	url = https://github.com/misterskullz/simple_skins.git
[submodule "ambience"]
	path = ambience
	url = https://github.com/misterskullz/ambience.git
[submodule "falling_item"]
	path = falling_item
	url = https://github.com/misterskullz/falling_item.git
[submodule "vines"]
	path = vines
	url = https://github.com/misterskullz/vines.git
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://github.com/misterskullz/mobs_redo.git
[submodule "bees"]
	path = bees
	url = https://github.com/misterskullz/bees.git
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://github.com/misterskullz/mobs_animal.git
[submodule "mobs_monster"]
	path = mobs_monster
	url = https://github.com/misterskullz/mobs_monster.git
[submodule "mobs_npc"]
	path = mobs_npc
	url = https://github.com/misterskullz/mobs_npc.git
[submodule "stamina"]
	path = stamina
	url = https://github.com/misterskullz/stamina.git
[submodule "mob_horse"]
	path = mob_horse
	url = https://github.com/misterskullz/mob_horse.git
[submodule "tempidity"]
	path = tempidity
	url = https://github.com/misterskullz/tempidity.git
[submodule "lumberjack"]
	path = lumberjack
	url = https://github.com/misterskullz/lumberjack.git
[submodule "boost_cart"]
	path = boost_cart
	url = https://github.com/misterskullz/boost_cart.git
[submodule "exchange_shop"]
	path = exchange_shop
	url = https://github.com/misterskullz/exchange_shop.git
[submodule "upgrade_packs"]
	path = upgrade_packs
	url = https://github.com/misterskullz/upgrade_packs.git
[submodule "simple_protection"]
	path = simple_protection
	url = https://github.com/misterskullz/simple_protection.git
[submodule "technic"]
	path = technic
	url = https://github.com/misterskullz/technic.git
[submodule "drawers"]
	path = drawers
	url = https://github.com/misterskullz/drawers.git
[submodule "craftguide"]
	path = craftguide
	url = https://github.com/misterskullz/craftguide.git
[submodule "simplecrafting_lib"]
	path = simplecrafting_lib
	url = https://github.com/misterskullz/simplecrafting_lib.git
[submodule "moreores"]
	path = moreores
	url = https://github.com/misterskullz/moreores.git
[submodule "smartfs"]
	path = smartfs
	url = https://github.com/misterskullz/smartfs.git
[submodule "item_drop"]
	path = item_drop
	url = https://github.com/misterskullz/item_drop.git
[submodule "sk_step_height"]
	path = sk_step_height
	url = https://github.com/misterskullz/sk_step_height.git
[submodule "drinks"]
	path = drinks
	url = https://github.com/misterskullz/drinks.git
[submodule "hbsprint"]
	path = hbsprint
	url = https://github.com/misterskullz/hbsprint.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/misterskullz/unified_inventory.git
[submodule "warps"]
	path = warps
	url = https://github.com/misterskullz/warps.git
[submodule "beverage"]
	path = beverage
	url = https://github.com/misterskullz/beverage.git
[submodule "anvil"]
	path = anvil
	url = https://github.com/misterskullz/anvil.git
[submodule "wielded_light"]
	path = wielded_light
	url = https://github.com/misterskullz/wielded_light.git
[submodule "crops"]
	path = crops
	url = https://github.com/misterskullz/crops.git
[submodule "ancientrunes"]
	path = ancientrunes
	url = https://github.com/misterskullz/ancientrunes.git
[submodule "ropes"]
	path = ropes
	url = https://github.com/misterskullz/ropes.git
[submodule "moretrees"]
	path = moretrees
	url = https://github.com/misterskullz/moretrees.git
[submodule "pipeworks"]
	path = pipeworks
	url = https://github.com/misterskullz/pipeworks.git
[submodule "radiant_damage"]
	path = radiant_damage
	url = https://github.com/misterskullz/radiant_damage.git
[submodule "playeranim"]
	path = playeranim
	url = https://github.com/misterskullz/playeranim.git
[submodule "frame"]
	path = frame
	url = https://github.com/misterskullz/frame.git
[submodule "steel"]
	path = steel
	url = https://github.com/misterskullz/steel.git
[submodule "throwing"]
	path = throwing
	url = https://github.com/misterskullz/throwing.git
[submodule "ts_furniture"]
	path = ts_furniture
	url = https://github.com/misterskullz/ts_furniture.git
[submodule "currency"]
	path = currency
	url = https://github.com/misterskullz/currency.git
[submodule "ccompass"]
	path = ccompass
	url = https://github.com/misterskullz/ccompass.git
[submodule "mydoors"]
	path = mydoors
	url = https://github.com/misterskullz/mydoors.git
[submodule "skybox"]
	path = skybox
	url = https://github.com/misterskullz/skybox.git
[submodule "inspector"]
	path = inspector
	url = https://github.com/misterskullz/inspector.git
[submodule "lightning"]
	path = lightning
	url = https://github.com/misterskullz/lightning.git
[submodule "sounding_line"]
	path = sounding_line
	url = https://github.com/misterskullz/sounding_line.git
[submodule "airtanks"]
	path = airtanks
	url = https://github.com/misterskullz/airtanks.git
[submodule "signs_lib"]
	path = signs_lib
	url = https://github.com/misterskullz/signs_lib.git
[submodule "jumping"]
	path = jumping
	url = https://github.com/misterskullz/jumping.git
[submodule "nightandday"]
	path = nightandday
	url = https://github.com/misterskullz/nightandday.git
[submodule "flowerpot"]
	path = flowerpot
	url = https://github.com/misterskullz/flowerpot.git
[submodule "ts_doors"]
	path = ts_doors
	url = https://github.com/misterskullz/ts_doors.git
[submodule "ts_paper"]
	path = ts_paper
	url = https://github.com/misterskullz/ts_paper.git
[submodule "camera"]
	path = camera
	url = https://github.com/misterskullz/camera.git
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/misterskullz/player_monoids.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/misterskullz/wiki.git
[submodule "armor_monoid"]
	path = armor_monoid
	url = https://github.com/misterskullz/armor_monoid.git
[submodule "emote"]
	path = emote
	url = https://github.com/misterskullz/emote.git
[submodule "tutor"]
	path = tutor
	url = https://github.com/misterskullz/tutor.git
[submodule "loot"]
	path = loot
	url = https://github.com/misterskullz/loot.git
[submodule "global_exchange"]
	path = global_exchange
	url = https://github.com/misterskullz/global_exchange.git
[submodule "coloured_nametag"]
	path = coloured_nametag
	url = https://github.com/misterskullz/coloured_nametag.git
[submodule "cozy"]
	path = cozy
	url = https://github.com/misterskullz/cozy.git
[submodule "sedimentology"]
	path = sedimentology
	url = https://github.com/misterskullz/sedimentology.git
[submodule "zombies"]
	path = zombies
	url = https://github.com/misterskullz/zombies.git
[submodule "mymulch"]
	path = mymulch
	url = https://github.com/misterskullz/mymulch.git
[submodule "minetest_barchairs"]
	path = minetest_barchairs
	url = https://github.com/misterskullz/minetest_barchairs
[submodule "barchairs"]
	path = barchairs
	url = https://github.com/misterskullz/minetest_barchairs
[submodule "bell"]
	path = bell
	url = https://github.com/misterskullz/bell.git
[submodule "cannons"]
	path = cannons
	url = https://github.com/misterskullz/cannons.git
[submodule "doc"]
	path = doc
	url = https://github.com/misterskullz/doc.git
[submodule "fallen_nodes"]
	path = fallen_nodes
	url = https://github.com/misterskullz/fallen_nodes.git
[submodule "farming_redo"]
	path = farming_redo
	url = https://github.com/misterskullz/farming_redo.git
[submodule "hangglider"]
	path = hangglider
	url = https://github.com/misterskullz/hangglider.git
[submodule "hudbars"]
	path = hudbars
	url = https://github.com/misterskullz/hudbars.git
[submodule "orienteering"]
	path = orienteering
	url = https://github.com/misterskullz/orienteering.git
[submodule "inventory_icon"]
	path = inventory_icon
	url = https://github.com/misterskullz/inventory_icon.git
[submodule "itemshelf"]
	path = itemshelf
	url = https://github.com/misterskullz/itemshelf.git
[submodule "locks"]
	path = locks
	url = https://github.com/misterskullz/locks.git
[submodule "screwdriver2"]
	path = screwdriver2
	url = https://github.com/misterskullz/screwdriver2.git
[submodule "stained_glass"]
	path = stained_glass
	url = https://github.com/misterskullz/stained_glass.git
[submodule "ma_pops_furniture"]
	path = ma_pops_furniture
	url = https://github.com/misterskullz/ma_pops_furniture.git
[submodule "mobf_trader"]
	path = mobf_trader
	url = https://github.com/misterskullz/mobf_trader.git
[submodule "mobs_humans"]
	path = mobs_humans
	url = https://github.com/misterskullz/mobs_humans.git
[submodule "multihome"]
	path = multihome
	url = https://github.com/misterskullz/multihome.git
[submodule "travelnet"]
	path = travelnet
	url = https://github.com/misterskullz/travelnet.git
[submodule "snowdrift"]
	path = snowdrift
	url = https://github.com/misterskullz/snowdrift.git
[submodule "shooter"]
	path = shooter
	url = https://github.com/misterskullz/shooter.git
[submodule "wield3d"]
	path = wield3d
	url = https://github.com/misterskullz/wield3d.git
[submodule "meshnode"]
	path = meshnode
	url = https://github.com/misterskullz/meshnode.git
[submodule "concrete"]
	path = concrete
	url = https://github.com/misterskullz/concrete.git
[submodule "extranodes"]
	path = extranodes
	url = https://github.com/misterskullz/extranodes.git
[submodule "technic_chests"]
	path = technic_chests
	url = https://github.com/misterskullz/technic_chests.git
[submodule "technic_cnc"]
	path = technic_cnc
	url = https://github.com/misterskullz/technic_cnc.git
[submodule "technic_worldgen"]
	path = technic_worldgen
	url = https://github.com/misterskullz/technic_worldgen.git
[submodule "wrench"]
	path = wrench
	url = https://github.com/misterskullz/wrench.git
